/* Tailwind. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue-custom: #007bff;
  --dark-text-custom: #343a40;
  --light-bg-custom: #f8f9fa;
}

/* Base styles */
body {
  @apply bg-gray-50 text-gray-800; /* Apply Tailwind classes directly */
}

html,
body {
  margin: 0;
  padding: 0;
}
